@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;700&display=swap');

/********************** I create these flex clases becouse I usually use them *******************************/
.flex-col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-row-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/**************************************************************************************************************/
/****************************** These styles are for mobile ***************************/
html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-picture-container{
    width: 93%;

    background-image: url(images/pattern-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture{
    width: 70%;
    height: 70%;
    padding-top: 9%;
    box-shadow: 0 4px 2px -2px gray;
}


.buttons-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

.before{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    padding: 3%;
    margin: 0;
}

.next{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 3%;
    margin: 0;
}

.before, .next{
    background-color: whitesmoke;
    color: black;
    border: none;
    width: 12%;
}

.info-container{
/*  height: 40vh; */
    margin-top: 5%;

} 

.main-info-container{
    width: 72%;
    height: 100%;
    background-image: url(images/pattern-quotes.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 22%;

}

.person-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-info, .name, .job-tile{
    font-family: 'Inter', sans-serif;
}

.name, .job-title{
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.main-info{
    text-align: center;
}

.job-title{
    color: gray;
}

/************************** MEDIA QUERIES STYLES FOR 1440PX *******************************************/
@media only screen and (min-width: 768px){
    body{
        flex-direction: row-reverse;
        background-size: 50%;
    }
    .profile-picture-container{
        width: 45%;
    }

    .profile-picture-container{
        margin: -12%;
    }

    .before, .next{
        width: 7%;
        padding: 15px;
    }

    .buttons-container{
        margin-left: -37%;
    }

    .info-container{
        width: 45%;
    } 

    .main-info-container{
        width: 90%;
        background-size: 18%;
        background-position: 20% 0%;
    }

    .main-info{
        text-align: left;
        font-size: 2rem;
    }

    .name, .job-title{
        font-size: 1rem
    }

    .person-info{
        flex-direction: row;
    }

    .name, .job-title{
        margin: 6px;
        font-size: 1.3rem;
    }
}